@font-face {
  font-family: "Reg-EL-Font";
  src: url(./Fonts-Collection/TT_Ramillas-GraphicEx.com/TTRamillas-ExtraLight.otf);
}
@font-face {
  font-family: "Reg-Font";
  src: url(./Fonts-Collection/TT_Ramillas-GraphicEx.com/TTRamillas-Regular.otf);
}
@font-face {
  font-family: "Reg-B-Font";
  src: url(./Fonts-Collection/TT_Ramillas-GraphicEx.com/TTRamillas-Bold.otf);
}
@font-face {
  font-family: "Reg-EB-Font";
  src: url(./Fonts-Collection/TT_Ramillas-GraphicEx.com/TTRamillas-ExtraBold.otf);
}
@font-face {
  font-family: "Italic-Font";
  src: url(./Fonts-Collection/TT_Ramillas-GraphicEx.com/TTRamillas-Italic.otf);
}
@font-face {
  font-family: "Italic-B-Font";
  src: url(./Fonts-Collection/TT_Ramillas-GraphicEx.com/TTRamillas-BoldItalic.otf);
}
@font-face {
  font-family: "Italic-EB-Font";
  src: url(./Fonts-Collection/TT_Ramillas-GraphicEx.com/TTRamillas-ExtraBoldItalic.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Italic-Font";
}
html,
body {
  height: 100%;
  width: 100%;
  cursor: none;
}
#main {
  background-color: rgb(10, 10, 10);
}
::selection {
  background-color: #f40009;
}

/* CURSOR */

.circle {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: rgb(255, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

/* LOADER */

#wrapper {
  position: fixed;
  z-index: 100;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#wrapper video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#wrapper .door {
  height: 100%;
  width: 100%;
  background-color: #050505;
}
#wrapper #door2 {
  position: absolute;
  background-color: rgb(255, 1, 1);
  z-index: -1;
  height: 100vh;
}
#wrapper h2 {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vw;
  font-weight: 100;
  font-family: "Coka";
}
#wrapper #head1 {
  color: transparent;
  -webkit-text-stroke: 0.1vw rgb(244, 0, 9);
}
#wrapper #head2 {
  color: rgb(244, 0, 9);
  animation: animate 2s ease-in-out;
}
@keyframes animate {
  0% {
    clip-path: polygon(
      0 75%,
      14% 80%,
      32% 81%,
      44% 78%,
      56% 71%,
      68% 60%,
      82% 58%,
      93% 63%,
      100% 73%,
      100% 100%,
      0 100%
    );
  }
  50% {
    clip-path: polygon(
      0 52%,
      13% 44%,
      25% 42%,
      38% 44%,
      51% 50%,
      63% 56%,
      76% 60%,
      88% 60%,
      100% 55%,
      100% 100%,
      0 100%
    );
  }
  75% {
    clip-path: polygon(
      0 52%,
      14% 55%,
      29% 54%,
      42% 50%,
      54% 42%,
      66% 35%,
      79% 32%,
      91% 36%,
      100% 43%,
      100% 100%,
      0 100%
    );
  }
  100% {
    clip-path: polygon(
      0 10%,
      14% 20%,
      29% 25%,
      41% 22%,
      54% 20%,
      68% 20%,
      79% 22%,
      91% 22%,
      100% 17%,
      100% 100%,
      0 100%
    );
  }
}
.Loader-container {
  --uib-size: 300px;
  --uib-color: rgb(255, 255, 255);
  --uib-speed: 18s;
  --uib-stroke: 5px;
  --uib-bg-opacity: 0.3;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-stroke);
  width: var(--uib-size);
  border-radius: calc(var(--uib-stroke) / 2);
  overflow: hidden;
  bottom: 3%;
  transform: translate3d(0, 0, 0);
}
.Loader-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: background-color 0.3s ease;
}
.Loader-container::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-stroke) / 2);
  animation: zoom var(--uib-speed) ease-in-out infinite;
  transform: translateX(-100%);
  background-color: var(--uib-color);
  transition: background-color 0.3s ease;
}
@keyframes zoom {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* BUTTON */

.content-btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 1.067vw;
  font-weight: 700;
  color: white;
  border: 2px solid #f40009;
  border-radius: 50px;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  margin-top: 20px;
}
.content-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f40009;
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
  z-index: -1;
  border-radius: 40px;
}
.content-btn:hover::before {
  transform: translateX(0);
  border-radius: 40px;
}

/* NAV BAR */

.search-container {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  margin-right: 3.4rem;
  transition: all 0.2s ease-in;
}
.search-container:hover {
  transform: scale(0.93);
  border-radius: 160px;
  background-color: #3e3e3e73;
}
.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 210px;
  height: 45px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: #3e3e3e73;
  transition: all 0.3s ease;
}
.checkbox:focus {
  border: none;
  outline: none;
  right: 0px;
  top: 0px;
}
.checkbox:checked {
  right: 0px;
  top: 0px;
}
.checkbox:checked ~ .mainbox {
  width: 45px;
}
.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
}
.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8.5px;
}
.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  appearance: none;
}
.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 2px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
}
.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}
.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}
.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.1em;
}
#navbar {
  width: 100%;
  z-index: 1;
  position: absolute;
  font-size: 1.267vw;
  opacity: 1;
}
.nav-items {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3vw;
}
#nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}
.navlinks {
  text-decoration: none;
  color: white;
  font-weight: 600;
  /* height: 50px; */
}
.nav-items #logo {
  background-image: url("./Icons/NavBar\ Coca\ cola\ White.png");
  height: 4vw;
  width: 6vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: none;
  transition: all 0.2s ease;
}
.nav-items #logo:hover {
  transform: scale(0.93);
}
.menu-container {
  z-index: 9999;
  height: 60px;
  position: absolute;
  width: 60px;
  opacity: 1;
  right: 2.1rem;
  top: 0.6rem;
  border-radius: 50%;
}
.menu-container:hover {
  background-color: #3e3e3e73;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8);
}
.menu-container svg {
  height: 60px;
  width: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.burger {
  filter: url(#gooeyness);
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}
.platee .x {
  transition: transform 400ms;
}
.platee .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.active.platee .line {
  transition: transform 400ms;
}
.active.platee .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}
.active.platee .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}
.active.platee .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}
.active.platee .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}
.active.platee .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}
.active.platee .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}
.active.platee .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}
/* MENU */

#menu-page {
  height: 0%;
  width: 100%;
  background-color: #f40009;
  color: #050505;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#menu-page #sign {
  height: auto;
  width: 100%;
  position: absolute;
  top: 60%;
  z-index: 4;
  opacity: 1;
}
#logo-n-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.667vw 3.333vw;
}
#logo {
  height: 2vw;
}
#close {
  opacity: 0.7;
  height: 2.667vw;
  transition: all 0.3s ease-in;
}
#logo-n-close #close:hover {
  transform: scale(1.2);
  opacity: 1;
}
#menu-items {
  width: 35vw;
}
.menu-links {
  height: 5.333vw;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
  margin-left: 20%;
}
.menu-links h2 {
  font-size: 5.333vw;
  line-height: 4.667vw;
  letter-spacing: -0.133vw;
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  z-index: 200;
  bottom: 0;
  opacity: 1;
}
.menu-links::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.3vw;
  border-radius: 1rem;
  width: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  );

  transition: 0.5s ease;
}
.menu-links:hover::before {
  width: 80%;
}
.menu-links:hover {
  transform: scale(0.95);
  color: rgb(255, 255, 255);
}
.menu-links:nth-child(1) {
  color: white;
}

/* PAGE 1 */

#page1 video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
#scroll {
  color: white;
  font-weight: 600;
  position: absolute;
  font-size: 15px;
  opacity: 0.7;
}
#page1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing-page {
  height: 110vh;
  width: 100%;
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 100;
  font-size: 3.333vw;
}
#landing-page h2 {
  font-family: "Italic-Font";
  opacity: 0;
  scale: 1;
}

/* EXTRA PAGE */

#extra-page {
  background-color: rgb(10, 10, 10);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#extra-page h1 {
  font-family: "Reg-EB-Font";
  font-size: 27rem;
  scale: 1;
  opacity: 1;
  color: white;
  margin-left: 5rem;
  font-weight: 500;
  letter-spacing: 2rem;
  padding: 0;
}
#extra-page img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 1;
  height: 50rem;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 1));
}
#extra-page #can-img {
  z-index: 1;
}
#extra-page #splash-img {
  height: 75rem;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  scale: 1;
  opacity: 1;
}

/* PAGE 2 */

#page2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  position: relative;
  z-index: 80;
}
#overlay {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: -10%;
  opacity: 1;
}
#page2 #opening-box1 {
  height: auto;
  width: 100%;
  position: absolute;
  top: 95%;
  left: 0;
}
.text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  flex-wrap: nowrap;
  color: white;
  opacity: 0;
  z-index: 2;
  text-transform: capitalize;
}
#textVision {
  position: absolute;
  bottom: 25%;
  left: 8%;
  width: 100%;
  overflow: hidden;
  opacity: 0.3;
}
#textVision h1,
#textVision-hover h1 {
  font-weight: 500;
}
#textVision-hover {
  position: absolute;
  overflow: hidden;
  bottom: 25%;
  left: 8%;
  opacity: 1;
}
#textVision .line1,
#textVision-hover .line1,
#textVision .line2,
#textVision-hover .line2,
#textVision .line3,
#textVision-hover .line3 {
  font-family: "Italic-B-Font";
  font-size: 3.8vw;
  line-height: 5rem;
}
#textVision-hover .line1,
#textVision-hover .line2,
#textVision-hover .line3 {
  font-family: "Italic-B-Font";
  width: 0%;
  text-wrap: nowrap;
  overflow: hidden;
}

/* PAGE 3 */

#page3 {
  height: 140vh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
  position: relative;
}
#page3 #img-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img-container .img-box {
  height: 80%;
  width: 29%;
  position: absolute;
  display: flex;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: 5rem;
  transform: translate(-50%, -50%);
}
.img-box img {
  height: 35rem;
  transition: transform 0.3s cubic-bezier(0.36, 0, 0.66, -0.56);
}
.img-box img:hover {
  filter: blur(0.2rem) brightness(85%);
  transform: scale(1.05);
}
.img-box .images-and-paras {
  position: absolute;
  height: 65%;
  width: 85%;
  overflow: hidden;
}
.img-box h2 {
  position: absolute;
  bottom: 6.3rem;
  left: 0.6rem;
  z-index: 5;
  color: white;
  font-size: 6rem;
  font-weight: 600;
  opacity: 1;
}
.para-container {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
}
#para-cont1 {
  clip-path: circle(0% at 17% 50%);
}
#para-cont2 {
  clip-path: circle(0% at 50% 50%);
}
#para-cont3 {
  clip-path: circle(0% at 83% 50%);
}
.para-container img {
  height: 40rem;
}
.para-container .paras {
  height: 65%;
  width: 35%;
  color: white;
  margin: 9rem 0 0 4rem;
}
.paras h2 {
  font-size: 4rem;
  padding: 0 2rem;
  font-weight: 100;
}
.paras p {
  opacity: 0.7;
  padding: 2rem;
  font-weight: 200;
  text-align: justify;
}
.paras button {
  margin: 0 2rem;
}
.prev-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  left: 10%;
  z-index: 2;
  top: 50%;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0.8;
}
.prev-btn:hover {
  background-color: #3e3e3e;
  transform: scale(1.5);
  border-radius: 50%;
}
.prev-btn:before {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 18px;
  height: 18px;
  border-top: solid 2px;
  border-left: solid 2px;
  top: 50%;
  right: 30%;
  transform-origin: 0% 0%;
  transform: rotatez(-45deg);
}
.prev-btn:hover:before {
  animation: aniback-btn01 1.8s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: #f40009;
}
.prev-btn:hover:after {
  animation: aniback-btn02 1.8s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: #f40009;
}
@keyframes aniback-btn01 {
  0% {
    transform: rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}
@keyframes borderAni-back-btn {
  0% {
    border: solid 2px white;
  }
  100% {
    border: solid 2px white;
    border-radius: 50%;
  }
}

/* PAGE 4 */

#page4 {
  height: 30vh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
#page4 h2 {
  color: white;
  font-size: 2vw;
  margin: 10px 0px 10px 0px;
  opacity: 1;
}
#page4 #underline {
  height: 0.267vw;
  width: 20%;
  background-color: #f40009;
  margin-bottom: 20px;
}
#page4 .img-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3.333vw;
  margin: 10px 0 20px 0;
  opacity: 0.7;
}
.img-container img {
  height: 40px;
}

/* PAGE 5 */

#page5 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#page5 .swiper {
  width: 100%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}
.swiper-slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 2rem;
  top: 1rem;
}
.swiper-slide img {
  display: block;
  width: 85%;
  height: 70%;
  object-fit: cover;
}
.subtitle {
  font-family: "Reg-Eb-Font";
  font-size: 5.5rem;
  color: white;
  position: absolute;
  z-index: 1;
  font-weight: 600;
  bottom: 12rem;
  left: 0;
  margin-bottom: 0.5rem;
}
.swiper-slide .text-X {
  font-size: 1rem;
  width: 40%;
  position: absolute;
  bottom: 4.5rem;
  color: white;
}
.text-X p {
  font-family: "Italic-Font";
  font-weight: 100;
  opacity: 0.8;
  text-align: justify;
}
.swiper-scrollbar {
  --swiper-scrollbar-bg-color: rgba(97, 11, 11, 0.5);
  --swiper-scrollbar-drag-bg-color: rgba(255, 4, 4, 1);
  --swiper-scrollbar-sides-offset: 5%;
  --swiper-scrollbar-right: 1.5rem;
}
.arrow-next {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 50%;
  right: 15rem;
  z-index: 5;
  bottom: 6.2rem;
  opacity: 0.8;
}
.arrow-next:hover {
  background-color: #3e3e3e;
  transform: scale(1.5);
  border-radius: 50%;
}
.arrow-next:before {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 18px;
  height: 18px;
  border-top: solid 2px;
  border-left: solid 2px;
  top: 30%;
  right: 10%;
  transform-origin: 0% 0%;
  transform: rotatez(45deg);
}
.arrow-next:hover:before {
  animation: aniArrow-next01 1.8s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: #f40009;
}
.arrow-next:hover:after {
  animation: aniArrow-next02 1.8s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: #f40009;
}
@keyframes aniArrow-next01 {
  0% {
    transform: rotatez(45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(45deg) translateY(-35px) translateX(-35px);
  }
}
@keyframes borderAni-next {
  0% {
    border: solid 2px white;
  }
  100% {
    border: solid 2px white;
    border-radius: 50%;
  }
}
.arrow-back {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 20rem;
  z-index: 2;
  bottom: 6.5rem;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0.8;
}
.arrow-back:hover {
  background-color: #3e3e3e;
  transform: scale(1.5);
  border-radius: 50%;
}
.arrow-back:before {
  position: absolute;
  display: block;
  content: "";
  color: white;
  width: 18px;
  height: 18px;
  border-top: solid 2px;
  border-left: solid 2px;
  top: 70%;
  right: 10%;
  transform-origin: 0% 0%;
  transform: rotatez(-135deg);
}
.arrow-back:hover:before {
  animation: aniArrow-back01 1.8s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: #f40009;
}
.arrow-back:hover:after {
  animation: aniArrow-back02 1.8s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: #f40009;
}
@keyframes aniArrow-back01 {
  0% {
    transform: rotatez(-135deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-135deg) translateY(-35px) translateX(-35px);
  }
}
@keyframes borderAni-back {
  0% {
    border: solid 2px white;
  }
  100% {
    border: solid 2px white;
    border-radius: 50%;
  }
}

/* PAGE 6 */

#page6 {
  font-family: "Italic-Font";
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  overflow: hidden;
  filter: "blur(0px)";
}
#page6 #newsh2 {
  color: white;
  font-size: 35px;
  margin-top: 50px;
}
#page6 #underline {
  height: 0.267vw;
  width: 25%;
  background-color: red;
  margin-bottom: 50px;
}
.news-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.news-hover {
  position: relative;
  height: 100%;
  width: 33%;
  background-color: rgb(10, 10, 10);
  color: white;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-size: contain;
  background-position: bottom;
}
.news-hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: white;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease;
}
.news-hover:hover::before {
  width: 100%;
}
.news-hover h2 {
  margin: 0 45px;
  position: absolute;
  top: 40%;
  font-weight: 500;
  font-size: 2.333vw;
  z-index: 1;
  transition: transform 0.5s ease, color 0.5s ease;
}
.news-hover p {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 1em;
  margin: 0 55px;
  color: #050505;
  transition: color 0.1s ease, opacity 0.3s ease-in-out;
  opacity: 0;
}
.news-hover button {
  position: absolute;
  top: 68%;
  z-index: 2;
  color: white;
  font-size: 1em;
  margin: 0 55px;
  cursor: pointer;
  transition: color 0.5s ease;
}
.news-hover img {
  position: absolute;
  z-index: 2;
  top: 77%;
  left: -0.1%;
  width: 0%;
  height: auto;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.news-hover:hover h2 {
  transform: translateY(-150px);
  color: #050505;
}
.news-hover:hover p {
  color: #050505;
  opacity: 1;
}
.news-hover:hover button {
  color: #050505;
}
.news-hover:hover img {
  width: 100%;
  opacity: 1;
}

/* FOOTER  */

#footer {
  font-family: "Italic-Font";
  z-index: 20;
  height: 80vh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
  color: white;
}
#footer #heading {
  height: 15%;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-left: 50px;
  margin: 0 10% 2% 10%;
  overflow: hidden;
}
#heading img {
  height: 5.333vw;
}
#footer #bar {
  height: 15rem;
  width: 0.1rem;
  background-color: white;
  opacity: 0.2;
  border-radius: 1rem;
}
#heading #location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  padding: 7px 30px;
  cursor: none;
}
#heading #location h2 {
  font-size: 0.867vw;
  font-weight: 400;
}
#location img {
  height: 15px;
}
#footer #foot-content {
  display: flex;
  gap: 5vw;
  width: 80vw;
  margin: 6% 10% 6% 10%;
  font-size: 25px;
  font-weight: 100;
}
.tabs ul .ul-text {
  font-size: 1vw;
  color: #fff;
  position: relative;
  bottom: 15px;
  font-weight: 600;
}
.tabs li {
  font-size: 1.7vw;
  list-style-type: none;
  line-height: 2.333vw;
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 5px 0;
  transition: 0.5s ease;
}
.tabs li span {
  display: block;
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease;
}
.tabs li::before {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0%);
  transition: transform 0.5s ease;
  opacity: 0;
}
.tabs li:hover span {
  transform: translateY(-105%);
}
.tabs li:hover::before {
  transform: translateY(-100%);
  color: red;
  opacity: 0.99;
}
#footer #links-terms {
  margin: 1.5% 8% 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.667vw;
}
#footer #links-terms h3 {
  opacity: 0.5;
}
.links-btns {
  font-size: 1.133vw;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffffff;
  position: relative;
  transition: 0.5s ease;
  z-index: 3;
  cursor: none;
}
.links-btns::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #f40009;
  transition: 0.5s ease;
}
.links-btns:hover {
  color: #ffffff;
  transition-delay: 0.5s;
}
.links-btns:hover::before {
  width: 100%;
}
.links-btns::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  background-color: #f40009;
  transition: 0.4s ease;
}
.links-btns:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: rgb(255, 255, 255);
}

/* MOBILE VERSION */

@media (max-width: 700px) and (min-height: 500px) {
  html,
  body {
    cursor: default;
  }

  #cursor {
    display: none;
  }

  .content-btn {
    border: 1px solid #f40009;
  }

  #navbar {
    font-size: 3.5vw;
  }
  .nav-items {
    margin: 0 7vw;
  }
  #navbar #logo {
    height: 10vw;
    width: 23vw;
  }
  .menu-container {
    top: 0.25rem;
    right: 1rem;
  }

  #menu-page #sign {
    top: 85%;
  }
  #logo-n-close {
    margin: 4vw 5vw;
  }
  #logo {
    height: 8vw;
    width: 25vw;
  }
  #close {
    height: 6vw;
  }
  #menu-items {
    margin-top: 3.5rem;
  }
  .menu-links {
    height: 13vw;
    width: 100vw;
    padding-left: 2rem;
  }
  .menu-links h2 {
    line-height: 10vh;
    font-size: 12vw;
  }
  .menu-links::before {
    height: 0.6vw;
    left: 7vw;
    bottom: 0.8rem;
  }
  .menu-links:hover::before {
    width: 50%;
  }

  #page1 video {
    top: 0;
    left: 0;
    object-fit: cover;
  }
  #landing-page h2 {
    font-size: 2.5vw;
  }

  #extra-page {
    display: none;
  }

  #page2 {
    height: 70vh;
  }
  #page2 #opening-box1 {
    height: auto;
    width: 100%;
    position: absolute;
    top: 99.8%;
    left: 0;
  }
  #textVision .line1,
  #textVision-hover .line1,
  #textVision .line2,
  #textVision-hover .line2,
  #textVision .line3,
  #textVision-hover .line3 {
    font-size: 4vw;
    line-height: 2rem;
    padding-left: 0;
  }

  #page3 {
    height: 250vh;
  }
  #img-container {
    height: 100vh;
  }

  #img-container .img-box {
    width: 75%;
    height: 37%;
    top: 15%;
    margin-bottom: 0rem;
    transform: translate(-50%, -50%);
  }
  .img-box h2 {
    bottom: 5rem;
  }
  .para-container {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: start;
    align-items: center;
  }
  #para-cont1 {
    clip-path: circle(0% at 50% 50%);
  }
  #para-cont2 {
    clip-path: circle(0% at 50% 50%);
  }
  #para-cont3 {
    clip-path: circle(0% at 50% 50%);
  }
  .para-container img {
    height: 22rem;
    margin-top: 1rem;
  }
  .para-container .paras {
    height: 38%;
    width: 88%;
    margin: 2rem 0 0 0;
  }
  .paras h2 {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .paras p {
    font-weight: 200;
    text-align: justify;
    font-size: 0.8rem;
    padding: 1rem 2rem;
  }
  .paras button {
    margin-left: 2rem;
    font-size: 0.8rem;
  }
  .prev-btn {
    top: 25%;
    left: 5%;
  }

  #page4 h2 {
    font-size: 5vw;
  }
  #page4 #underline {
    height: 0.5vw;
    width: 44%;
  }
  #page4 .img-container {
    padding: 0 10px;
    width: 80%;
  }
  #page5 .swiper {
    height: 60%;
  }
  .swiper-slide img {
    height: 60%;
  }
  #page5 .subtitle {
    font-size: 2rem;
    bottom: 12rem;
  }
  .swiper-slide .text-X {
    font-size: 0.8rem;
    bottom: 4.5rem;
    width: 80%;
  }
  .swiper-scrollbar {
    --swiper-scrollbar-sides-offset: 45%;
    --swiper-scrollbar-top: 0.5rem;
  }
  .arrow-next {
    display: none;
  }
  .arrow-back {
    display: none;
  }

  #page6 {
    height: 120vh;
    align-items: center;
  }
  #page6 .news-container {
    flex-direction: column;
  }
  #page6 #underline {
    height: 0.5vw;
    width: 60%;
  }

  #heading #location h2 {
    font-size: 1.5vw;
  }
  .news-hover {
    width: 100%;
    height: 30%;
  }
  .news-hover h2 {
    font-size: 3.5vw;
  }
  .news-hover:hover h2 {
    opacity: 0;
  }
  .news-hover p {
    font-size: 0.75rem;
  }
  .news-hover img {
    display: none;
  }
  .news-hover .content-btn {
    font-size: 0.9rem;
  }

  #footer {
    height: 100vh;
  }
  #footer #foot-content {
    flex-direction: column;
    gap: 7vw;
  }
  #footer #bar {
    height: 0.1rem;
    width: 15rem;
    /* margin: 0% 10%; */
    background-color: white;
    opacity: 0.2;
    border-radius: 1rem;
  }
  .tabs ul .ul-text {
    font-size: 3vw;
  }
  .tabs li {
    font-size: 4.1vw;
    line-height: 3vw;
  }
  .tabs li:hover span {
    transform: translateY(-205%);
  }
  .tabs li:hover::before {
    transform: translateY(-80%);
  }
  #footer #links-terms {
    height: 5rem;
    font-size: 1.8vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .links-btns {
    font-size: 2.7vw;
  }
  #footer #heading {
    padding-left: 0px;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
  #heading .content-btn {
    height: 2rem;
    width: 9rem;
  }
  #heading #brand-img {
    display: none;
  }
  #heading #location h2 {
    font-size: 2.1vw;
  }
  #location img {
    height: 15px;
  }
}

/* END */
